nav {
  height: 80px;
  background-color: rgb(82, 87, 94);
  width: 100%;
  > div {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.hover:hover {
  background: rgb(138, 133, 133);
  border-radius: 12px;
}

.btn-outline-dark{
  border: none;
  font-size: larger !important;
}

.btn-outline-light{
  border: none;
}
