<div class="container">
  <div class="row">
      <div class="col-md-1 text-right">
        <p-sidebar [(visible)]="sidebarVisible">
          <h1>Menú</h1>
        </p-sidebar>
        <button
          class="btn btn-primary"
          (click)="sidebarVisible = true"
        ><i class="pi pi-bars"></i></button>
      </div>
      <div class="col-md-9">
        <a href="#" class="logo">
          <img src="path/to/your/logo.png" alt="Concesionario ULPGC Logo">
        </a>
      </div>
      <div class="col-md-2 align-items-right">
        <button class="btn btn-primary" ng-click="toggleMenu()">
          Iniciar Sesión
        </button>
      </div>
  </div>
</div>
