<div class="d-flex align-items-center menu" >
    <div class="buttons-left">
      <p-sidebar [(visible)]="sidebarVisible">
        <div class="d-flex flex-column">
          <button
            class="btn btn-outline-dark"
            routerLink="/home"
            (click)="sidebarVisible = false"
          ><i class="pi pi-home"></i> Home</button>
          <button
            class="btn btn-outline-dark"
            routerLink="/catalogue"
            (click)="sidebarVisible = false"
          >Nuestro Catálogo</button>
          <button
            class="btn btn-outline-dark"
            routerLink=""
            (click)="sidebarVisible = false"
          >Nuestros Servicios</button>
          <button class="btn btn-outline-dark">Sobre nosotros</button>
          <button
            class="btn btn-outline-dark"
            routerLink="/contacto"
            (click)="sidebarVisible = false"
          >Contacto</button>
          <button
            class="btn btn-outline-dark"
            routerLink=""
            (click)="sidebarVisible = false"
          >Mi coche ULPGC</button>
        </div>
      </p-sidebar>
      <button
        class="btn btn-outline-light"
        (click)="sidebarVisible = true"
      ><i class="pi pi-bars"></i></button>
    </div>
    <a
      style="margin: 0 auto;"
      routerLink="/home"
    ><img
        src=""
        class="hover"
        alt="Concesionario ULPGC Logo">
    </a>
    <div class="d-none d-md-block buttons-right">
      @if (!loggedIn) {
        <button class="btn btn-outline-light" (click)="fakeLogin()">Iniciar Sesión</button>
      } @else {
        <button class="btn btn-outline-light" (click)="logout()">Cerrar Sesión</button>
      }
    </div>
</div>

