<h1>Catálogo de vehículos</h1>
<article>
    @for (vehicle of vehicles; track $index) {
        <section class="d-flex gap-3 mb-4" [ngClass]="{'justify-content-end': $index % 2 == 1}">
            <img
              src="data:image/jpg;base64,{{ vehicle.image }}"
              [ngClass]="{'order-2': $index % 2 == 1}"
              class="object-fit-cover"
              width="350px"
              height="200px"
              alt=""
            >
            <div class="content">
                <h2 class="name" [ngClass]="{'text-end': $index % 2 == 1}">
                    {{ vehicle.brand }} {{ vehicle.model }}
                </h2>
                <div class="description">
                    {{ vehicle.description}}
                </div>
            </div>
        </section>
    }
</article>
