h1{
    font-size: 2.5rem;
    margin-left: 14em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}



#car1, #car3{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

#car1 img, #car3 img{
    margin-left: 15px;
}

#car1 .content, #car3 .content{
    margin-left:20px ;
    padding-right: 10px;
}

#car1 .description, #car3 .description{
    padding-top: 25px;
}

#car2{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

#car2 img{
    margin-right: 15px;
    order: 2;
}

#car2 .content{
    margin-right: 15px;
}
#car2 .name{
    text-align: right;
}

#car2 .description{
    padding-top: 25px;
    margin-left: 15px;
}