#price-container{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-left: 2em;
    width: 20em;
    padding: 1em;
}

#rentButton{
    margin-left: auto;
    color: white;
    background-color: #0066A1;
    border: none;
    padding: 0.8em;
    font-size: 1.3em;
    font-weight:500;
}
#rentButton:hover{
    color: #0066A1;
    background-color: white;
    border: 1px solid #0066A1;
}