<div class="d-flex gap-4 align-items-start">
  <p-calendar
    [formControl]="startDate"
    [minDate]="currentDate"
  >
    <ng-template pTemplate="date" let-date>
      <div class="occupied-date">
        <span [class]="getDateClass(date)">{{ date.day }}</span>
      </div>
    </ng-template>
  </p-calendar>
  <p-calendar
    [formControl]="endDate"
    [minDate]="currentDate"
  >
    <ng-template pTemplate="date" let-date>
      <div class="occupied-date">
        <span [class]="getDateClass(date)">{{ date.day }}</span>
      </div>
    </ng-template>
  </p-calendar>
  <div class="d-flex flex-column gap-3">
    <button
      class="btn btn-primary"
      (click)="onClickFindAvailableVehicles()">BUSCAR VEHICULOS DISPONIBLES</button>
    <div class="alert alert-danger" *ngIf="invalidDate" role="alert">
      La fecha de llegada no puede ser anterior a la fecha de recogida.
    </div>
  </div>
</div>
