<div class="container justify-content-center mt-4">
  <h1 class="pt-2 text-align-left"><b>Bandeja de Entrada</b></h1>
  @if (messages.length > 0){
    <p>Tiene {{messages?.length}} mensajes sin leer.</p>
  }
  @for(message of messages; track $index){
    <div class="row">
      <div class="col-1">
        <p-checkbox></p-checkbox>
      </div>
      <div class="col-8">
        @if(message.answered){
          <p>{{message.subject}}</p>
        }@else{
          <p><b>{{message.subject}}</b></p>
        }
        <p>{{message.email}}</p>
      </div>
      <div class="col-2">

      </div>
    </div>
  }
</div>
