<div>
<h1>Términos y Condiciones de Uso</h1>

<p>Bienvenido a Concesionario ULPGC. Al utilizar nuestros servicios o acceder a nuestro sitio web, acepta estos Términos y Condiciones de Uso. Por favor, léalos detenidamente antes de utilizar nuestros servicios.</p>

<h2>1. Uso del sitio web</h2>
<p>1.1. <strong>Condiciones de uso:</strong> Al acceder a nuestro sitio web, acepta utilizarlo de manera legal y ética. No debe utilizar nuestro sitio web para actividades fraudulentas, dañinas o que infrinjan los derechos de terceros.</p>
<p>1.2. <strong>Propiedad intelectual:</strong> Todo el contenido de nuestro sitio web, incluyendo texto, imágenes, logotipos y marcas comerciales, está protegido por derechos de autor y otras leyes de propiedad intelectual. No puede reproducir, modificar ni distribuir el contenido sin nuestro permiso expreso.</p>

<h2>2. Productos y servicios</h2>
<p>2.1. <strong>Información de productos:</strong> Hacemos esfuerzos razonables para proporcionar información precisa sobre nuestros productos y servicios. Sin embargo, no garantizamos la exactitud, integridad o actualidad de dicha información.</p>
<p>2.2. <strong>Disponibilidad:</strong> La disponibilidad de productos y servicios puede variar. No garantizamos que todos los productos o servicios estén siempre disponibles.</p>

<h2>3. Compras y pagos</h2>
<p>3.1. <strong>Precios:</strong> Los precios de nuestros productos y servicios están sujetos a cambios sin previo aviso.</p>
<p>3.2. <strong>Pagos:</strong> Aceptamos diversos métodos de pago, según se indica en nuestro sitio web o en nuestras instalaciones físicas.</p>

<h2>4. Privacidad y protección de datos</h2>
<p>4.1. <strong>Política de privacidad:</strong> Nuestra política de privacidad describe cómo recopilamos, utilizamos y protegemos sus datos personales. Al utilizar nuestros servicios, acepta nuestra política de privacidad.</p>

<h2>5. Limitación de responsabilidad</h2>
<p>5.1. <strong>Exclusión de garantías:</strong> Nuestro sitio web y servicios se proporcionan "tal cual" y "según disponibilidad". No ofrecemos garantías explícitas o implícitas en relación con nuestros servicios.</p>
<p>5.2. <strong>Responsabilidad limitada:</strong> En la medida permitida por la ley, no seremos responsables de daños indirectos, incidentales, especiales o consecuentes que surjan de su uso de nuestros servicios o sitio web.</p>

<h2>6. Resolución de disputas</h2>
<p>6.1. <strong>Acuerdo de arbitraje:</strong> Cualquier disputa que surja de estos Términos y Condiciones se resolverá mediante arbitraje vinculante, de acuerdo con las leyes locales aplicables.</p>

<h2>7. Modificaciones</h2>
<p>7.1. <strong>Cambios en los Términos:</strong> Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Le recomendamos que los revise periódicamente.</p>

<h2>8. Contacto</h2>
<p>Si tiene preguntas o inquietudes sobre estos Términos y Condiciones, puede contactarnos a través de:</p>
<p>Dirección: Campus de Tafira, 35017 Las Palmas de Gran Canaria, Las Palmas<br>
  Teléfono: 928 45 87 61<br>
  Correo electrónico: concesionario.ulpgc&#64;gmail.com </p>
</div>



