#viewport{
    height: 100%;
    width: 100%;
}
.characteristicsMain{
    margin-left: 2em;
}
.optionContent{
    margin-left: 5em;
}
.vehicleMain{
    display: flex;
    flex-direction: row;
}
.make, .model{
    display:inline-block;
    padding: 0.2em;
    font-size: 2em;
}
.price{
    margin-left: 2em;
    font-size: 1.2em;
}
.selectorButton {
    background-color: white;
    border: none;
    margin: 2em;
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .selectorButton.selected {
    border-bottom: 3px solid rgb(1, 108, 196); /* Define el estilo de borde deseado */
  }
.engine{
    display: block;
    background: white;
    border: none;
    margin-bottom: 1em;
}
.colorBox{
    height: 5em;
    width: 5em;
    border-radius: 10%;
    margin: 0 auto;

}
.color{
    background-color: white;
    border: none;
    padding: 2em;
}
.colorName{
    background: white;
    margin-top: 1em;
    font-weight: bold;
}
.rim{
    background: white;
    border: none;
    max-width: 10em;
    margin-right: 2em;
}
.upholstery{
    display: block;
    background: white;
    border: none;
    margin-bottom: 1em;
}

.extra{
    background: white;
    border: 1px solid black;
    max-width: 30em;
    margin-right: 5em;
}
.check{
    border: 2px solid rgb(1, 108, 196);
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.summaryButton{
    background: transparent;
    border: 1px solid black;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 0.6em;
}
.summaryButton:hover{
    background: black;
    color: white;
}
#buy{
    margin-right: 2em;
}
@media screen and (max-width: 1250px) {
    .vehicleMain{
        flex-direction: column;
    }
    .selectorButton{
        margin-bottom: 0em;
    }
    .optionContent{
        margin-top: 5em;
    }
}
@media screen and (max-width: 600px) {
    .vehicleMain{
        align-items: center;
    }
    .selectorMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #principalImg{
        width: 30em;
    }
}