<div class="container justify-content-center mt-4">
  <h1 class="pt-2 text-align-left"><b>Solicitudes de Prueba</b></h1>
  <p-table
    #table
    [loading]="!driveRequests"
    [value]="driveRequests"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Solicitante</th>
        <th>Vehículo</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-driveRequest>
      <tr>
        <td>{{ driveRequest.name }} - {{ driveRequest.email }}</td>
        <td>{{ driveRequest.carModel.model }} - {{ driveRequest.carModel.carLicense }}</td>
        <td>{{ driveRequest.startDate | date:"dd-MM-yyyy" }}</td>
        <td>{{ driveRequest.endDate | date:"dd-MM-yyyy" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
