h1{
   background: linear-gradient(135deg, #012349, #0062a3);
   color: white;
 }
.option-title{
    font-size: 1.7em;
    margin-bottom: 2em;
    border-bottom: 2px solid #0066A1;
    padding-bottom: 0.3em;
    display: inline-block;
}
#information-container{
    display: flex;
    flex-direction: row;
}
