<h1>Servicios</h1>
<div id="services">
    <section id="principalService" class="servicesSection">
        <h2>Venta y Alquiler de Vehículos</h2>
        <p>En nuestro concesionario de coches, ofrecemos una amplia gama 
            de servicios para satisfacer las necesidades de nuestros clientes. Con una 
            interfaz intuitiva y amigable, nuestro sitio web permite a los usuarios explorar 
            nuestra selección de vehículos disponibles tanto para la compra como para el alquiler. A continuación, detallamos los servicios disponibles 
            para cada tipo de usuario:</p>
    </section>
    <section id="client" class="servicesSection">
        <h2>Servicios que ofrecemos</h2>
        <ul>
            <li><strong>Visualización de vehículos adquiridos o alquilados:</strong> Accede fácilmente a la información de los vehículos que has 
                comprado o alquilado con nosotros. Desde los detalles técnicos hasta el historial de mantenimiento, toda la información que necesitas 
                está a solo un clic de distancia.</li>
            <li><strong>Compra de repuestos:</strong> Ofrecemos una amplia gama de repuestos para tu vehículo. Desde piezas pequeñas hasta accesorios, 
                lo tenemos todo para mantener tu coche en perfecto estado. Nuestro catálogo de repuestos de calidad garantiza la durabilidad y el
                 rendimiento óptimo de tu vehículo.</li>
            <li><strong>Solicitud de cita en taller:</strong> ¿Necesitas una revisión o reparación? Solicita una cita en nuestro taller con solo unos
                 pocos clics. Nuestro equipo de técnicos altamente capacitados estará encantado de atenderte y asegurarse de que tu vehículo esté en 
                 perfectas condiciones.</li>
            <li><strong>Gestión de perfil de usuario:</strong> Mantén tu información personal actualizada y controla tus preferencias desde tu perfil
                 de usuario. Con nuestra plataforma, puedes actualizar fácilmente tus datos de contacto, revisar el historial de compras y configurar
                  notificaciones según tus preferencias.</li>
          </ul>
    </section> 
</div>
