@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
:host {
    font-family: 'Inter', sans-serif;
}
h1{
    background: linear-gradient(135deg, #012349, #0062a3);
    color: white;
}
h2 {
    display: inline-block;
    border-bottom: 2px solid #0066A1;
    margin-top: 1em;
    margin-bottom: 1em;

}
li {
    margin-bottom: 1em;
}