<div class="d-flex align-items-center justify-content-center">
  <p-card header="Restablecer Contraseña" class="psw-card mt-5">
    <div class="d-flex flex-column gap-3">
      <p-password
        id="password"
        placeholder="Contraseña"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="w-100"
        inputStyleClass="w-100"
        [(ngModel)]="password"
      ></p-password>
      <p-password
        id="repeat-password"
        placeholder="Repetir Contraseña"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="w-100"
        inputStyleClass="w-100"
        [(ngModel)]="repeat"
      ></p-password>
      <div>
        <small>
          La contraseña debe contener al menos
          <span [style.color]="checkPasswordRegex(len)">8 caracteres</span>
          y <span [style.color]="checkPasswordRegex(space)">ningún espacio</span>.<br>
          La contraseña debe contener al menos
          <span [style.color]="checkPasswordRegex(may)">1 mayúscula</span>,
          <span [style.color]="checkPasswordRegex(min)">1 minúscula</span> y
          <span [style.color]="checkPasswordRegex(dig)">1 dígito</span>.
        </small>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="text-center">
        <p-button
          label="Guardar"
          [icon]="loading ? 'pi pi-lock' : 'pi pi-lock-open'"
          [disabled]="loading || !password || password != repeat || !password.match(passwordRegex)"
          (onClick)="resetPassword()"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
