<div class="padreloginform">
    <div class="loginform">
        <form [formGroup]="loginForm">
        <p-card header="Iniciar Sesion">
            <div class="field">
                <label class="username">Nombre de usuario</label>
                <input type="text" class="hola" pInputText formControlName="username" name="username" placeholder="Nombre de usuario" />

            </div>
            <div class="field">
                    <label class="password">Contraseña</label>
                    <input type="password" class="hola" pInputText formControlName="password" name="password" placeholder="Contraseña" />
            </div>
            <br>
            <div class="j1"> <a href ="/forgotpassword">¿Ha olvidado su contraseña?</a></div>
            <div class="boton">
                <button
                pButton
                class="boton1"
                label="INICIAR SESION"
                (click)="submitForm()"
                ></button>
            </div>
            <div class="j1">¿Aún no esta registrado? <a href ="/register">Registrarse</a></div>
        </p-card>
        </form>
    </div>
</div>

