<div class="container justify-content-center mt-4">
  <h1 class="pt-2 text-align-left"><b>Contacto</b></h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <p>Puede ponerse en contacto con nuestra empresa y enviarnos sus sugerencias en:</p>
      <ul>
        <li>(+34) 928 xxx 105</li>
        <li>concesionario.ulpgc&#64;gmail.com</li>
        <li>Campus de Tafira, 35017 Las Palmas de Gran Canaria, Las Palmas</li>
      </ul>
      <div style="width: 100%">
        <iframe
          width="100%"
          height="500"
          src="https://maps.google.com/maps?q=Escuela%20Ingenier%C3%ADa%20Inform%C3%A1tica%20ULPGC&t=&z=15&ie=UTF8&iwloc=&output=embed"
        ></iframe>
      </div>
    </div>
    <div class="col">
      <p>También se puede ponerse en contacto con nosotros rellenando el siguiente formulario:</p>
      <form [formGroup]="contactForm">
        <div class="row mt-4">
          <div class="col-6">
            <p-floatLabel>
              <input id="name" type="text" pInputText formControlName="name" style="width: 100%"/>
              <label for="name">Nombre</label>
            </p-floatLabel>
          </div>
          <div class="col-6">
            <p-floatLabel>
              <input id="mail" type="text" pInputText formControlName="email" style="width: 100%"/>
              <label for="mail">Email</label>
            </p-floatLabel>
          </div>
        </div>
        <div class="mt-4">
            <p-floatLabel>
              <input id="subject" type="text" pInputText formControlName="subject" style="width: 100%"/>
              <label for="subject">Asunto</label>
            </p-floatLabel>
        </div>
        <div class="mt-4">
            <p-floatLabel>
              <textarea
                pInputText
                id="message"
                type="text"
                rows="5"
                formControlName="message"
                style="width: 100%"
              ></textarea>
              <label for="message">Mensaje</label>
            </p-floatLabel>
        </div>
        <div class="d-flex align-items-center">
          <p-checkbox
            id="privacy"
            formControlName="privacy"
            [binary]="true"
          ></p-checkbox>
          <div class="mx-1">
            <label>He leído y acepto la política de privacidad</label>
          </div>
        </div>
        <div class="d-flex flex-column text-center mt-4">
          <div>
            <button
              pButton
              (click)="submit()"
              label="ENVIAR MENSAJE"
            ></button>
          </div>
        </div>
      </form>
      <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    </div>
  </div>
</div>
