.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-col {
  margin-bottom: 2em;
  width: 48%;
}

@media screen and (max-device-width: 991px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-col {
    width: 100%;
  }
}
