<h1>Quiénes somos</h1>
<div id="whoAreWe">
    <section id="aboutUs" class="whoAreWeSection">
        <h2>Sobre Nosotros</h2>
        <p>En el Concesionario ULPGC, estamos comprometidos con 
            la excelencia en la industria automotriz, ofreciendo a nuestros clientes una 
            experiencia única y satisfactoria en la compra y 
            alquiler de vehículos. Fundado en 2015 por 
            un grupo de estudiantes y profesores de la Universidad
             de Las Palmas de Gran Canaria (ULPGC), nuestro 
             concesionario se ha convertido en un referente en 
             el mercado local.</p>
        <img src="../../../assets/edificioIGI.jpg" alt="edificio de informatica y matematicas" id="imgIGI">
    </section>
    <section id="mision" class="whoAreWeSection">
        <h2>Misión</h2>
        <p>En el Concesionario ULPGC, nuestra misión es 
            proporcionar a nuestros clientes una amplia gama 
            de opciones de vehículos de alta calidad, acompañadas 
            de un servicio excepcional y personalizado. Nos 
            esforzamos por satisfacer las necesidades y superar 
            las expectativas de cada uno de nuestros clientes,
             creando relaciones a largo plazo basadas 
            en la confianza y la satisfacción.</p>
            <img src="../../../assets/marcasCocheMural.jpg" alt="nuestras marcas de coche" id="imgMuralCoches">
    </section>
    <section id="vision" class="whoAreWeSection">
        <h2>Vision</h2>
        <p>Nuestra visión en el Concesionario ULPGC es ser 
            reconocidos como líderes en la industria automotriz 
            en las Islas Canarias, ofreciendo una experiencia de 
            compra y alquiler de vehículos que sea sinónimo de
             calidad, confianza y excelencia. Aspiramos a ser 
             el destino preferido de aquellos que buscan adquirir
              o alquilar un vehículo, gracias a nuestra reputación y 
            compromiso con la satisfacción del cliente.</p>
            <img src="../../../assets/imgCompraVenta.webp" alt="nuestras marcas de coche" id="imgCompraVenta">
    </section>
    <section id="values" class="whoAreWeSection">
        <h2>Valores</h2>
        <p>En el Concesionario ULPGC, nuestros valores
             fundamentales son la integridad, la transparencia, 
             la pasión por el servicio al cliente, la innovación y
              la responsabilidad social. Nos comprometemos a operar 
              con integridad en todas nuestras acciones, siendo
               transparentes en nuestras operaciones y relaciones
                comerciales. Valoramos la pasión por brindar un 
                servicio excepcional a nuestros clientes y buscamos
                 constantemente nuevas formas de mejorar y adaptarnos 
                 a las necesidades del mercado. Además, nos 
                 comprometemos a ser buenos ciudadanos corporativos,
                  contribuyendo positivamente a la 
            comunidad y el medio ambiente en el que operamos.</p>
    </section>
    
    
</div>
