/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

label, span, th, h5 {
  &.required:after {
    content: "*";
    font-weight: bold;
    color: red;
    margin-left: 4px;
  }
  &.semi-required:after {
    content: "*";
    font-weight: bold;
    color: cadetblue;
    margin-left: 4px;
  }
}

.required > label:after {
  content: "*";
  font-weight: bold;
  color: red;
  margin-left: 4px;
}

.form-container.row > div {
  margin-top: 1.5rem;
  input, textarea {
    width: 100%;
  }
}

.p-menu, .p-dropdown {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    a {
      text-decoration: none;
    }
  }
}

.p-multiselect-panel .p-multiselect-items {
  padding: 0.75rem 0 !important;
  margin: 0 !important;
}

.p-dialog .p-dialog-footer button {
  margin: 0 0.5rem 0 0;
  width: auto;
  border-radius: 6px;
}

.p-button-icon-only::after {
  content: none !important
}

.p-confirm-popup-footer {
  button {
    font-size: 0.875rem;
    border-radius: 6px;
  }
  .p-confirm-popup-reject {
    margin-right: 1rem;

  }
}
