<div class="padreloginform">
    <div class="loginform">
        <form [formGroup]="registerForm">
        <p-card header="Registro">
            <div class="field">
                <label class="name">Nombre</label>
                <input type="text"  class="hola" pInputText formControlName="name" name="name" placeholder="Nombre" />
            </div>
            <div class="field">
              <label class="userName">Nombre de usuario</label>
              <input type="text" class="hola" pInputText formControlName="username" name="username" placeholder="Nombre de usuario" />
            </div>

            <div class="field">
                <label class="email">Email</label>
                <input type="email" class="hola" pInputText formControlName="email" name="email" placeholder="Introduce tu email" />

            </div>
            <div class="field">
              <label class="address">Dirección</label>
              <input type="text" class="hola" pInputText formControlName="address" name="apellidos" placeholder="Dirección" />
            </div>
            <div class="field">
                <label class="password">Contraseña</label>
                <input type="password" class="hola" pInputText formControlName="password" name="password" placeholder="Contraseña" />
            </div>
            <br>
            <div class="j1">¿Ya esta registrado? <a href ="/login">Iniciar sesion</a></div>
            <div class="boton">
                <button
                pButton
                class="boton1"
                label="REGISTRARSE"
                (click)="submitForm()"
                ></button>
            </div>
        </p-card>
        </form>
    </div>
</div>
