<div class="padreloginform">
    <div class="loginform">
        <form [formGroup]="registerForm">
        <p-card header="Registro">
            <div class="field">
                <label for="name">Nombre</label>
                <input type="name"  class="hola" pInputText formControlName="name" name="name" placeholder="Nombre" />
            </div>
            <small
                *ngIf="name.invalid && (name.dirty || name.touched)"
                class="block p-error"
            >
                <div *ngIf="name.errors?.['required']">Se requiere un nombre.</div>
            </small>
            <div class="field">
                    <label for="apellidos">Apellidos</label>
                    <input type="apellidos" class="hola" pInputText formControlName="apellidos" name="apellidos" placeholder="Apellidos" />
            </div>
            <small
                *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)"
                class="block p-error"
            >
                <div *ngIf="apellidos.errors?.['required']">Se requiere un apellido.</div>
            </small>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" class="hola" pInputText formControlName="email" name="email" placeholder="Introduce tu email" />
                
            </div>
            <small
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="block p-error"
                >
            <div *ngIf="email.errors?.['required']">Se requiere un email.</div>
            </small>
            
            <div class="field">
                <label for="password">Contraseña</label>
                <input type="password" class="hola" pInputText formControlName="password" name="password" placeholder="Contraseña" />
            </div>
            <small
                *ngIf="password.invalid && (password.dirty || password.touched)"
                class="block p-error"
                >
            <div *ngIf="password.errors?.['required']">Se requiere una contraseña.</div>
            </small>
            <div class="field">
                <label for="confirmPassword">Confirmar contraseña</label>
                <input type="confirmPassword" class="hola" pInputText formControlName="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" />
            </div>
            <small
                *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                class="block p-error"
                >
            <div *ngIf="confirmPassword.errors?.['required']">Se requiere confirmar contraseña.</div>
            </small>
            <br>
            <div class="j1">¿Ya esta registrado? <a href ="/login">Iniciar sesion</a></div>
            <div class="boton">
                <button
                pButton
                class="boton1"
                label="REGISTRARSE"
                ></button>
            </div>
        </p-card>
        </form>
    </div>
    
    
</div>
