<div class="forgotPassword" id="forgotPassword">
    <div class="forgotPasswordStyle">
      <h1>
        Olvidé mi contraseña
      </h1>
      <form class="w-50" [formGroup]="forgotPasswordForm">
        <div>
          <label class="card-title">Correo electrónico</label>
          <input pInputText max="255" formControlName="email" class="mb-3 w-100">
        </div>
      </form>
      <div class="boton">
        <button
          pButton
          class="boton"
          label="Recuperar Contraseña"
          (click)="recuperarContrasenia()"
        ></button>
      </div>
    </div>
</div>
<p-toast></p-toast>
<div class="forgotPassword" id="restorePassword">
  <div class="forgotPasswordStyle">
    <h1>
      Cambiar contraseña
    </h1>
    <form class="w-50" [formGroup]="restorePasswordForm">
      <div>
        <label class="card-title">Nueva contraseña</label>
        <input pInputText max="255" type="password" formControlName="password" class="mb-3 w-100">
      </div>
    </form>
    <div class="boton">
      <button
        pButton
        class="boton"
        label="Cambiar Contraseña"
        (click)="restorePassword()"
      ></button>
    </div>
  </div>
</div>

