<div class="forgotPassword" id="forgotPasswrod">
    <div class="forgotPasswordStyle">
      <h1>
        Olvidé mi contraseña
      </h1>
      <form class="w-50" [formGroup]="forgotPasswordForm">
        <div>
          <label class="card-title">Correo electrónico</label>
          <input pInputText max="255" formControlName="email" class="mb-3 w-100">
        </div>
      </form>
      <div class="boton">
        <button
          pButton
          class="boton"
          label="Recuperar Contraseña"
          (click)="recuperarContrasenia()"
        ></button>
      </div>
    </div>
</div>
