<div class="forgotPassword" id="forgotPassword">
    <div class="forgotPasswordStyle">
      <h1>
        Olvidé mi contraseña
      </h1>
      <form class="w-50" [formGroup]="forgotPasswordForm">
        <div>
          <label class="card-title">Nombre de usuario</label>
          <input
            pInputText
            class="mb-3 w-100"
            type="text"
            formControlName="username"
          >
        </div>
      </form>
      <div class="boton">
        <button
          pButton
          class="boton"
          label="Recuperar Contraseña"
          (click)="forgotPassword()"
        ></button>
      </div>
    </div>
</div>
<p-toast></p-toast>

