<div class="padreloginform">
    <div class="loginform">
        <form [formGroup]="forgotpasswordForm">
        <p-card header="Olvide mi contraseña">
            <div class="field">
                <label for="email">Email</label>
                <input type="email" class="hola" pInputText formControlName="email" name="email" placeholder="Introduzca aqui su email" />
            </div>
            <br>
            <div class="boton">
                <a href="/login" pButton class="boton1" label="SOLICITAR NUEVA CONTRASEÑA">
                </a>
            </div>
        </p-card>
        </form>
    </div>
</div>
