.login-register-container{
  border: 2px solid #212529;
  border-radius: 10px;
  width: 75%;
  height: 60%;
}

.semi-div{
  width: 47%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
