<nav class="footer d-flex m-0 p-3 text-center fs-5">
  <div class="d-flex flex-column gap-1">
    <div>
      <i class="fa-brands fa-instagram me-2"></i>
      <a href="https://instagram.com" target="_blank">&#64;concesionario_ulpgc</a>
    </div>
    <div>
      <i class="fa-brands fa-facebook-square me-2"></i>
      <a href="https://facebook.com" target="_blank">Concesionario ULPGC</a>
    </div>
    <div>
      <i class="fa-brands fa-youtube me-2"></i>
      <a href="https://youtube.com" target="_blank">Cars ULPGC</a>
    </div>
  </div>
  <div class="m-auto">
    <div class="d-flex flex-column align-items-center">
      <img ngSrc="/assets/logos/logo-footer.png" alt="logo-footer" width="80" height="80">
      <label class="fs-6">© Derechos Reservados 2024</label>
    </div>
  </div>
  <div class="d-flex flex-column gap-1">
    <a routerLink="u">Política de Cookies</a>
    <span routerLink="u">Política de Privacidad</span>
    <span routerLink="u">Condiciones de uso</span>
  </div>
</nav>
