<div class="container pt-4">
  <div class="d-flex justify-content-between mb-2">
    <h2>Editar Entrada</h2>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-info"
      class="btn btn-outline-info"
      (click)="showInfo=true"
    ></button>
  </div>
  <div *ngIf="!disable">
    <p-editor
      #editor
      [readonly]="disable"
      [modules]="module"
      [style]="{'height':'320px'}"
    >
      <ng-template pTemplate="header"></ng-template>
    </p-editor>
    <div class="d-flex flex-wrap flex-md-nowrap my-2 gap-2 justify-content-start">
      <span class="p-float-label w-100 mt-3">
        <input
          pInputText
          id="title"
          [(ngModel)]="blog.title"
          type="text"
          class="w-100"
        >
        <label class="required" for="title">Título</label>
      </span>
      <span class="p-float-label w-100 mt-3">
        <p-calendar
          id="cal"
          class="w-100"
          styleClass="w-100"
          [(ngModel)]="blog.endDate"
        ></p-calendar>
        <label class="semi-required" for="cal">Fecha de fin</label>
      </span>
    </div>
    <div class="d-flex flex-wrap gap-2 justify-content-between">
      <div class="d-flex gap-2 align-items-center">
        <div>
          <label class="mx-1">Publicar</label>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="blog.published"
          ></p-checkbox>
        </div>
      </div>
      <div class="d-flex flex-wrap ms-auto gap-2 align-items-center">
        <i
          *ngIf="saveLoading"
          class="pi pi-spin pi-spinner"
          style="font-size: 25px;"
        ></i>
        <button
          pButton
          (click)="onSubmit()"
          [disabled]="isDisabled() || saveLoading || getterIsLoading"
          label="Guardar"
          class="btn btn-outline-primary"
        ></button>
      </div>
    </div>
  </div>
  <div *ngIf="disable">
    Ha habido un error
  </div>
</div>
<p-progressSpinner *ngIf="getterIsLoading"></p-progressSpinner>

<p-confirmDialog
  header="Confirmación de publicación"
  acceptLabel="Guardar y Publicar"
  rejectLabel="Cancelar"
></p-confirmDialog>
<p-dialog
  header="Información"
  [(visible)]="showInfo"
  [modal]="true"
  [style]="{'width': '600px'}"
  [draggable]="false"
  [resizable]="false"
>
  <p>
    <span style="color: red; font-weight: bold">*</span>
    : Campos obligatorios.
  </p>
  <p>
    <span style="color: cadetblue; font-weight: bold">*</span>
    : Campos obligatorios a la hora de publicar.
  </p>
  Información de cada campo:
  <ul>
    <li>nombre-de-la-entrada: nombre que saldrá en la url para navegar a la entrada. Tiene que ser único.</li>
    <li>Fecha de fin: fecha en la que la entrada dejará de mostrarse la noticia.</li>
    <li>Título: texto que saldrá en la pantalla junto a la imagen.</li>
    <li>Publicar: si al guardar la entrada será pública o no.</li>
  </ul>
</p-dialog>
