<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <h1>Bienvenido a nuestra aplicación de concesionarios</h1>
    <p>¡Hola, <span th:text="${username}">[Nombre]</span>!</p>
    <p>Gracias por registrarte en nuestra aplicación de concesionarios. Estamos emocionados de tenerte como parte de
        nuestra comunidad.</p>
    <p>Con nuestra aplicación, podrás:</p>
    <ul>
        <li>Buscar y configurar vehículos en nuestro inventario</li>
        <li>Programar citas de prueba de manejo</li>
        <li>Alquilar vehículos</li>
        <li>Y mucho más...</li>
    </ul>
    <p>¡Esperamos que disfrutes de nuestra aplicación y de la experiencia de comprar un nuevo vehículo con nosotros!</p>
    <p>Saludos,<br>El equipo de Concesionario ULPGC</p>
</div>
</body>
</html>
